* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url("https://images.pexels.com/photos/2117937/pexels-photo-2117937.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: 100vw;
}

main { 
    width: 100%;
    display:flex;    
    background:#002B5B; 
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.281)
}

.footer{
    background-color: #828282;
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin-bottom: 0;
    p{
        margin-bottom: 0;
    }
    
}
$redes: (
    );

@each $redsocial, $colordered in $redes {
    .fa-#{$redsocial} {
        background-color: $colordered;
    }
}
.fa-facebook {
    width: 20px;
    height: 20px;
    font-size: 20px;
    margin: 1px;
    justify-content: center;
    border-radius: 10px;

    &:hover {
        background-color: rgb(0, 38, 255);
    }
}

.fa-whatsapp{
    width: 20px;
    height: 20px;
    font-size: 20px;
    margin: 1px;
    justify-content: center;
    border-radius: 9px;

    &:hover {
        background-color: rgba(20, 197, 43, 0.555);
    }

}
.fa-instagram {
    width: 20px;
    height: 20px;
    font-size: 20px;
    margin: 1px;
    justify-content: center;
    border-radius: 6px;

    &:hover {
        background-color: rgba(219, 140, 37, 0.555);
    }
}

