   

    
    

body{
    background-image: url("https://images.pexels.com/photos/2117937/pexels-photo-2117937.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: 100%;
}



.mainmobile{
    display: none;
}
.menu { 
    text-align: center;
    list-style-type: none;
    background-color: #256D85;
    border: 0.5px solid rgba(0, 0, 0, 0.205);
}

.menu__items {
    display: inline-block; 
    text-decoration: solid;
    color: black;
    margin: 10px;
}

.menu__items a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.nuestros__locales{
    background-color: #8FE3CF;
    margin-top: 50px;
    text-align: center;
}



main { 
    width: 100%;
    display:flex;    
    background:#002B5B; 
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.281)
}

.footer{
    background-color: #828282;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

}

.bienvenidamobile{
    display: none;
}

/*UBICACION*/

.ubicacion{
    margin: 20px;
    padding: 70px;
    display: flex   ;
    align-items: flex-start;
    justify-content: space-between; 
    border: 1px solid rgba(0, 0, 0, 0.473);
    background-color:#2B4865;
    padding: 10px;
    color: white;
}

.mapita{
    display: flex;
    border: 0.5px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 255);

}

.ubicacion__titulo{
    text-align: center;
}

.ubicacion__mapa{
    height: 200px;

}

.ubicacion__texto{
    text-align: center;
    

}

.mapamobile{
    display: none;
}

/*TARJETITAS*/

.tarjetitagrid{
    margin-bottom: 80px;
    margin-top: 80px;
    display: grid;
    grid-template-columns:5% 20% 20% 20% 20% 15%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    ".  tarjetita1 tarjetita2 tarjetita3 tarjetita4 .";
    gap: 30px;
}

.tarjetita1{
    grid-area: tarjetita1;
    border-radius: 4px;
    border: 1.5px solid black;
    width: 272px;
    height: 379px;
    background-color: #2B4865;
    color: white    ;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjetita2{
    grid-area: tarjetita2;
    border-radius: 4px;
    border: 1px solid black;
    width: 272px;
    height: 379px;
    background-color: #2B4865;
    color: white    ;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjetita3{
    grid-area: tarjetita3;
    border-radius: 4px;
    border: 1px solid black;
    width: 272px;
    height: 379px;
    background-color: #2B4865;
    color: white    ;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjetita4{
    grid-area: tarjetita4;
    border-radius: 4px;
    border: 1px solid black;
    width: 272px;
    height: 379px;
    background-color: #2B4865;
    color: white    ;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.tarjetita__boton{
    
    background-color: white;
    width: 60px;
    color: black;
    border: none;
    border-radius: 3px;
}
.bienvenida__tarjetas{
    margin: 20px;
    padding: 70px;
    display: flex   ;
    justify-content: space-between;
}

.tarjetita{
    border: 1px solid rgba(0, 0, 0, 0.473);
    background-color: #2B4865;
    padding: 10px;
}

.tarjetita__texto{
    width: 200px;
}

.tarjetita__imagen{
    width: 250px;
    height: 130px;
}
/*ANIMACIONES TARJETITAS*/

.tarjetita1:hover {
    transition: all .3s;
    transform: scale(1.05) translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.tarjetita2:hover {
    transition: all .3s;
    transform: scale(1.05) translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.tarjetita3:hover {
    transition: all .3s;
    transform: scale(1.05) translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.tarjetita4:hover {
    transition: all .3s;
    transform: scale(1.05) translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/*PRODUCTOS*/
    .productos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "producto1 producto2 producto3 producto4"
        "producto5 producto6 producto7 producto8";
    }

    .producto__imagen{
        width: 100%;
        height: 80px;
    }
    .producto{
        background-color: #002B5B;
        margin: 1%;
        border: 1px solid black;
    
    }
    .producto1{
        grid-area: producto1
    }
    .producto2{
        grid-area: producto2
    }
    .producto3{
        grid-area: producto3
    }
    .producto4{
        grid-area: producto4
    }
    .producto5{
        grid-area: producto5
    }
    .producto6{
        grid-area: producto6
    }
    .producto7{
        grid-area: producto7
    }
    .producto8{
        grid-area: producto8
    }


/*EMPRESA*/

.empresa__color{
    color: white
}

.empresa__imagen{
    width: 500px;
}

.empresa__data{
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 50px;
    padding-right: 80px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    border: 1px solid rgba(0, 0, 0, 0.692);
    border-left: none;
    border-right: none;
    background-color: #d8d6d6ee;
}

.empresa__data__imagen{
    width: 500px;
}

.empresa__data__texto{
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-right: 20px;
}

.empresa__data2{
    padding-left: 50px;
    padding-right: 80px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: #a9a4d4ea;
    border: 1px solid rgba(0, 0, 0, 0.473);
}

.empresa__data__texto2{
    font-size: 12px;
}
/*animaciones empresa*/
.tilt-in-fwd-br{-webkit-animation:tilt-in-fwd-br .6s cubic-bezier(.25,.46,.45,.94) both;animation:tilt-in-fwd-br .6s cubic-bezier(.25,.46,.45,.94) both}

 @-webkit-keyframes tilt-in-fwd-br{0%{-webkit-transform:rotateY(20deg) rotateX(-35deg) translate(300px,300px) skew(35deg,-10deg);transform:rotateY(20deg) rotateX(-35deg) translate(300px,300px) skew(35deg,-10deg);opacity:0}100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}@keyframes tilt-in-fwd-br{0%{-webkit-transform:rotateY(20deg) rotateX(-35deg) translate(300px,300px) skew(35deg,-10deg);transform:rotateY(20deg) rotateX(-35deg) translate(300px,300px) skew(35deg,-10deg);opacity:0}100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}
/*MARCAS*/

.marcas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.marcas__titulo{
    font-size: 35px;
}
/*animacion marcas*/
.slide-in-elliptic-top-fwd{-webkit-animation:slide-in-elliptic-top-fwd .7s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-elliptic-top-fwd .7s cubic-bezier(.25,.46,.45,.94) both}

 @-webkit-keyframes slide-in-elliptic-top-fwd{0%{-webkit-transform:translateY(-600px) rotateX(-30deg) scale(0);transform:translateY(-600px) rotateX(-30deg) scale(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;opacity:0}100%{-webkit-transform:translateY(0) rotateX(0) scale(1);transform:translateY(0) rotateX(0) scale(1);-webkit-transform-origin:50% 1400px;transform-origin:50% 1400px;opacity:1}}@keyframes slide-in-elliptic-top-fwd{0%{-webkit-transform:translateY(-600px) rotateX(-30deg) scale(0);transform:translateY(-600px) rotateX(-30deg) scale(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;opacity:0}100%{-webkit-transform:translateY(0) rotateX(0) scale(1);transform:translateY(0) rotateX(0) scale(1);-webkit-transform-origin:50% 1400px;transform-origin:50% 1400px;opacity:1}}
/*GRIDS MARCAS*/

.contenedor{
    margin: 10px;   
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "marca1 marca2"
    "marca3 marca4"
    "marca5 marca5";
}

.marca{
    border: 1px solid black;
    background-size: 100%;
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/946/615/original/abstract-square-pattern-yellow-background-and-texture-free-vector.jpg);
}

.marcafoto{
    margin: 20px;
    display: flex;
    border: 1px solid black;

}

.marca__text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.marca__tit{
    text-decoration: underline;
}

.marca1{
    grid-area: marca1;
    margin: 20px;
    padding: 5px;
    display: flex;
    gap: 10px;  
}

.marca2{
    grid-area: marca2;
    margin: 20px;
    padding: 5px;
    display: flex;
    gap: 10px;
}

.marca3{
    grid-area: marca3;
    margin: 20px;
    padding: 5px;
    display: flex;
    gap: 10px;


}

.marca4{
    grid-area: marca4;
    margin: 20px;
    padding: 5px;
    display: flex;
    gap: 10px;


}

.marca5{
    width: 612.5px;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-area: marca5;
    margin-left: 25%;
    margin-right: 25%;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

/*CONTACTOS*/

.contacto{
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #aaa5a5ea;
    border: 1px solid rgba(0, 0, 0, 0.473);
}
.contacto__imagen{
    width: 600px;
}

.contacto__form{
    padding-top: 15px;
    padding-bottom: 20px;
    margin: 0 auto;
    width: 300px;
}

input, textarea{
    outline: none;
    border-radius: 3px;
    width: 250px;
}

.contacto__casillas{
    text-decoration: underline, solid;
}

.texto{
    width: 250px;
    
}

.texto:focus{
    border-color: blue
}

.mensaje{
    width: 398px;
    height: 116px;

}

.mensaje:focus{
    border: 2px solid;
    border-color: blue
}

.contactos__boton{
    text-align: center;
}

.boton__contacto{
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgba(49, 238, 49, 0.363);
}


/*Responsive*/

@media screen and (max-width: 480px) {

    *{
        width: auto;
    }
    
        /*INDEX*/
    .container{
        display: none;
    }

    .trimarchi{
        display: none;
    }

    .logomobile{
        width: 75%;
    }

    .menumobile{
        display: block;
    }

    .mainmobile{
        display: block;
    }
    .menu{
        display: none;
    }
        /*BIENVENIDA*/

    .bienvenidamobile{
        display: block;}

    .mapita{
        display: none;
    }

    .ubicacion{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "ubicacion1"
        "ubicacion2";
    }
    
    .ubicacion1{
        padding-top: 5px;
        padding-bottom: 10px;
        grid-area: ubicacion1;
        display: flex;

    }
    .textomobile{
        margin-right: 60px;

    }

    .mapamobile{
        display: block; 
    }

    .ubicacion2{
        padding-top: 10px;
        grid-area: ubicacion2;
        display: flex;
    }

    .tarjetitagrid{
        display: flex;
        flex-direction: column;
        margin-left: 07%;
        margin-right: 10%;
    }

    .tarjetita__imagen{
        display: none;
    }

    .tarjetita__texto{
        display: none;
    }

    .tarjetita__boton{
        display: none;
    }

    .tarjetita1{
        width: 350px;
        height: 50px;
    }
    
    .tarjetita2{
        width: 350px;
        height: 50px;
    }
    
    .tarjetita3{
        width: 350px;
        height: 50px;
    }

    .tarjetita4{
        width: 350px;
        height: 50px;
    }

    .linkeadomobile{
        text-decoration: none
    }

    /*Empresa*/

    .empresa__imagen{
        display: none;
    }

    .empresa__data{
        display: flex;
        flex-direction: column;
        border: 2px solid black;
        justify-content: center;
        align-items: center;
    }

    .empresa__data__imagen{
        width: 100%;
    }

    .empresa__data__texto{
        text-align: center;
    }

    .empresa_datatitulo{
        text-align: center;
    }

    /*PRODUCTOS*/

    /*CONTACTO*/

    .contacto__imagen{
        display: none;
    }

    .contacto{
        display: flex;
        flex-direction: column;
    }
    .contacto__form{
        padding-top: 15px;
        padding-bottom: 20px;
        margin: 0 auto;
        width: 98%;
    }
    
    input, textarea{
        outline: none;
        border-radius: 3px;
        width: 98%;
    }
    
    .contacto__casillas{
        text-decoration: underline, solid;
    }
    
    .texto{
        width: 98%;
        
    }
    
    .texto:focus{
        border-color: blue
    }
    
    .mensaje{
        width: 98%;
    
    }
    /*MARCAs*/

    .contenedor{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "marca1"
        "marca2"
        "marca3"
        "marca4"
        "marca5";
        gap: -2%;
    }

    .marca__text{
        display: none;
    }
    .marcafoto{
        margin: 0%;
    }
    .marca{
        width: 100%;
    }
    
    .marca1{
        margin-left: 0%;
        grid-area: marca1;
    }
    .marca2{
        margin-left: 0%;
        grid-area: marca2;
    }
    .marca3{
        margin-left: 0%;
        grid-area: marca3;
    }
    .marca4{
        margin-left: 0%;
        grid-area: marca4;
    }
    .marca5{
        margin-left: 0%;
        grid-area: marca5;
    }
    }


